---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About Deployments'>
	<div class='dark:text-gray-300'>
		<h1>About the Project</h1>

		<p>The SpaceX launches projects is a demo for the Astro course</p>
	</div>
</Layout>
